*{
    padding: 0;
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Vollkorn SC', serif;
}

body{
    height: 10000px; 
    z-index: 1;
}
html{
    overflow-x: hidden;
}
.overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: absolute;
    display: none;
}
.overlay > .event-details{
    height: 70vh;
    width: 85vw;
    background: white;
    display: none;
    margin: 15vh auto;
    transform-origin: center;
    transform: translate(-50%,-50%)
    
}
.details{
    padding: 5vmin;
}
.modal-close-btn{
    padding: 10px;
    float: right
}

section{
    margin-bottom: 5%;
}

.landing{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
    position: relative;
}


.logo{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.15s linear;
}

.brainware-logo{
    width: 75px;
    height: 75px;
}

.logo h1 {
    font-size: 75px;
}
.logo h3 {
    margin-top: -35px
}
.link{
    height: 10vh;
    width: 10vw;
    display: inline-block;
}
#events-section{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.event{
    height: 25vw;
    width: 25vw;
    margin: 10px auto;
    background-color: blueviolet;
}

.go-down{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);
}


@media(max-width:414px){
    .logo h1 {
        font-size: 45px;
    }

    .events{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .event{
        width: 75vw;
        height: 75vw;
        margin: 10px auto;
        background-color: blueviolet;
    }
    #events-section{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@keyframes modal-popup {
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1)
    }
}

@keyframes modal-popdown {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(0)
    }
}

.modalPopup{
    animation: modal-popup 0.2s ease-in forwards;
}

.modalPopdown{
    animation: modal-popdown 0.2s ease-out forwards;
}