*{
    padding: 0;
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Vollkorn SC', serif;
}

body{
    height: 10000px; 
}
html{
    overflow-x: hidden;
}

section{
    margin-bottom: 5%;
}

.landing{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
    position: relative;
}


.logo{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.15s ease;
}

.brainware-logo{
    width: 75px;
    height: 75px;
}

.logo h1 {
    font-size: 75px;
}
.logo h3 {
    margin-top: -35px
}
.link{
    height: 10vh;
    width: 10vw;
    display: inline-block;
}
#events-section{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.event{
    height: 25vw;
    width: 25vw;
    margin: 10px auto;
    background-color: blueviolet;
}

.go-down{
    position: absolute;
    top: 80%;
    left: 50%;
    color: white;
    transform: translate(-50%,0%);
}

@media(max-width:414px){
    .logo h1 {
        font-size: 45px;
    }

    .events{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .event{
        width: 75vw;
        height: 75vw;
        margin: 10px auto;
        background-color: blueviolet;
    }
    #events-section{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

}

